In [110]:
import pandas as pd

In [118]:
happiness2015 = pd.read_csv("happiness2015.csv")
happiness2016 = pd.read_csv("happiness2016.csv")
happiness2017 = pd.read_csv("happiness2017.csv")
happiness2018 = pd.read_csv("happiness2018.csv")
happiness2019 = pd.read_csv("happiness2019.csv")
health2016 = pd.read_csv("health_expenditure2016.csv")
population2020 = pd.read_csv("population2020.csv")
unemployment2019 = pd.read_csv("unemployment2019.csv")
ecfree = pd.read_csv("economic freedom2015-16.csv")
gdp = pd.read_csv("gdp.csv", encoding = "ISO-8859-1", engine='python')

In [112]:
happiness20156 = pd.merge(happiness2015, happiness2016, on = "Country", how = "outer", suffixes = (" 2015", " 2016"))
happiness20178 = pd.merge(happiness2017, happiness2018, on = "Country", how = "outer", suffixes = (" 2017", " 2018"))
happiness = pd.merge(happiness20156, happiness20178, on = "Country", how = "outer")
happiness2019
happiness = pd.merge(happiness, happiness2019, on = "Country", how = "outer")
happiness = happiness.rename(columns={"Happiness Score":"Happiness Score 2019"})

In [113]:
happiness_pop = pd.merge(population2020, happiness, on = "Country", how = "inner")
happiness_pop

,Country,Population,Density (P/Km²),Region,Happiness Score 2015,Happiness Score 2016,Happiness Score 2017,Happiness Score 2018,Happiness Score 2019
0,China,"1,438,207,241",153,Eastern Asia,5.140,5.245,5.273,5.246,5.191
1,India,"1,377,233,523",464,Southern Asia,4.565,4.404,4.315,4.190,4.015
2,United States,"330,610,570",36,North America,7.119,7.104,6.993,6.886,6.892
3,Indonesia,"272,931,713",151,Southeastern Asia,5.399,5.314,5.262,5.093,5.192
4,Pakistan,"219,992,900",287,Southern Asia,5.194,5.132,5.269,5.472,5.653
...,...,...,...,...,...,...,...,...,...
150,Luxembourg,"623,861",242,Western Europe,6.946,6.871,6.863,6.910,7.090
151,Suriname,"585,561",4,Latin America and Caribbean,6.269,6.269,NaN,NaN,NaN
152,Malta,"441,308","1,380",Western Europe,6.302,6.488,6.527,6.627,6.726
153,Belize,"396,120",17,NaN,NaN,5.956,5.956,5.956,NaN
154,Iceland,"340,795",3,Western Europe,7.561,7.501,7.504,7.495,7.494

In [114]:
happ_health2016 = pd.merge(happiness2016, health2016, on = "Country", how = "inner")
happ_health2016 = happ_health2016.dropna()
happ_health2016

,Country,Happiness Score,Percent Health Expenditure of GDP,Health Expenditure Per capita USD 2016
0,Denmark,7.526,13.7,5565.6
3,Switzerland,7.509,29.6,9836.0
4,Iceland,7.501,16.9,5063.6
5,Norway,7.498,14.5,7477.9
6,Finland,7.413,20.4,4117.3
...,...,...,...,...
143,Rwanda,3.515,6.4,48.1
144,Benin,3.484,43.5,30.4
145,Afghanistan,3.360,77.4,57.2
146,Togo,3.303,50.4,38.8
148,Burundi,2.905,30.5,18.5

In [115]:
unemployment2019
happ_unemploy = pd.merge(happiness, unemployment2019, on = "Country", how = "inner")
happ_unemploy

,Country,Region,Happiness Score 2015,Happiness Score 2016,Happiness Score 2017,Happiness Score 2018,Happiness Score 2019,Unemployment 2015,Unemployment 2016,Unemployment 2017,Unemployment 2018,Unemployment 2019
0,Switzerland,Western Europe,7.587,7.509,7.494,7.487,7.480,4.80,4.92,4.80,4.71,4.58
1,Iceland,Western Europe,7.561,7.501,7.504,7.495,7.494,3.98,2.98,2.74,2.70,2.84
2,Denmark,Western Europe,7.527,7.526,7.522,7.555,7.600,6.17,6.18,5.74,4.97,4.91
3,Norway,Western Europe,7.522,7.498,7.537,7.594,7.554,4.30,4.68,4.16,3.80,3.35
4,Canada,North America,7.427,7.404,7.316,7.328,7.278,6.91,7.00,6.34,5.83,5.56
...,...,...,...,...,...,...,...,...,...,...,...,...
139,Belize,NaN,NaN,5.956,5.956,5.956,NaN,7.58,7.00,6.59,6.51,6.41
140,Somalia,NaN,NaN,5.440,5.151,4.982,4.668,11.62,11.55,11.41,11.28,11.35
141,Namibia,NaN,NaN,4.574,4.574,4.441,4.639,20.88,23.35,21.57,19.88,20.27
142,South Sudan,NaN,NaN,3.832,3.591,3.254,2.853,12.57,12.50,12.36,12.23,12.24
143,North Macedonia,NaN,NaN,NaN,NaN,NaN,5.274,26.07,23.72,22.38,20.74,17.76

In [116]:
happ_ecfree = pd.merge("ecfree20156", "happiness", on = "Country", how = "inner")

TypeError: Can only merge Series or DataFrame objects, a <class 'str'> was passed

In [120]:
#happ_gdp = pd.merge(happiness, gdp, on = "Country", how = "inner")
#happ_gdp

0          Albania
1          Algeria
2           Angola
3        Argentina
4          Armenia
          ...
157      Venezuela
158        Vietnam
159    Yemen, Rep.
160         Zambia
161       Zimbabwe
Name: Country, Length: 162, dtype: object